@model ProyectoFinal_FlavioAlvarez.Models.Maquina

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Maquina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMaquina">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantProductHora" class="control-label">cantidad Productos Hora</label>
                <input asp-for="cantProductHora" class="form-control" />
                <span asp-validation-for="cantProductHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costoOperacionHora" class="control-label">costo Operacion Hora</label>
                <input asp-for="costoOperacionHora" class="form-control" />
                <span asp-validation-for="costoOperacionHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="probabilidadFallo" class="control-label">probabilidad Fallo</label>
                <input asp-for="probabilidadFallo" class="form-control" />
                <span asp-validation-for="probabilidadFallo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horasReparacion" class="control-label">horas Reparacion</label>
                <input asp-for="horasReparacion" class="form-control" />
                <span asp-validation-for="horasReparacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaCompra" class="control-label">fecha Compra</label>
                <input asp-for="fechaCompra" class="form-control" />
                <span asp-validation-for="fechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="estado" /> @Html.DisplayNameFor(model => model.estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Maquina">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
